body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--clr-dark-green);
  color: #fff;
}

aside {
  height: 200px;
}

button, input {
  font-family: 'Open Sans', sans-serif;
}

button {
  border-style: none;
  cursor: pointer;
}

input {
  border-style: none;
  border-radius: 3px;
  padding: 5px 40px 5px 5px;
  font-size: clamp(1.2rem, 1.4rem, 2vw);
  font-weight: 500;
}

input:focus {
  outline: 1px solid var(--clr-tusk);
  box-shadow: 1px 1px 3px var(--clr-shadow);
}

label {
  font-size: clamp(1.2rem, 1.4rem, 2vw);
  font-weight: 500;
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  justify-self: center;
  gap: 3rem;
  padding: 3rem 0;
}

main > div {
  font-size: clamp(1.4rem, 1.6rem, 2vw);
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--clr-tusk);
  font-weight: 700;
}

form {
  width: 100%;
}

main p:first-child {
  font-weight: 700;
  font-size: clamp(1.4rem, 2.2rem, 4vw);
}

@media (min-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  main {
    width: 100%;
  }

  main > :nth-child(odd) {
    padding-left: 4rem;
  }
}