.logo-aside {
  display: flex;
  justify-content: center;
  background: url(../../assets/img/ophelia-francis-dicksee.png) no-repeat;
  background-position-y: -3.5rem;
  background-size: cover;
}

.logo-aside div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-aside img {
  width: min(80px, 40%);
}

.logo-aside h1 {
  font-family: 'Cinzel', serif;
  font-size: clamp(3rem, 5rem, 4vw);
  font-weight: 600;
  color: #fff;
}

@media (min-width: 800px) {
  .logo-aside {
    height: inherit;
    background-position: center;
  }
}