.main-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-form div {
  display: inherit;
  flex-direction: column;
}

.main-form > div {
	width: 100%;
	gap: 2rem;
	padding: 2.5rem;
	border-radius: 10px;
	background-color: var(--clr-light-shade-dark-green);
}

.main-form h1 {
  font-size: clamp(1.4rem, 2.2rem, 4vw);
  font-weight: 700;
}

.controls {
  gap: 1rem;
}

.controls > div {
  gap: 1rem;
}

.controls > div > div {
  gap: .5rem;
}

@media (min-width: 800px) {
  .main-form > div {
    padding: 20px 0 20px 40px;
    border-radius: initial;
  }

  .controls {
    gap: 2rem;
  }
  
  .controls > div {
    flex-direction: row;
    gap: 7rem;
  }
}