.main-form p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: clamp(2rem, 2.5rem, 4vw);
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.controls > div {
  display: flex;
  flex-direction: column;
}