:root {
  --clr-dark-green: #1c1a15;
  --clr-light-shade-dark-green: #25231a;
  --clr-light-shade-dark-green-low-op: rgba(37, 35, 26, 0.5);
  --clr-tusk: #e4deae;
  --clr-shadow: #998468;
  --clr-light-shadow: #d5c1b1;
  --clr-link-hover: #ffee69;
}